.reg-main {
  min-height: 63vh;
  margin: 5rem 0;
  background: grey;
  padding: 2rem;
  box-shadow: -5px 10px 8px #5a4d4d;
  border-radius: 4px;
}

.reg-heading {
  background: url(https://images.unsplash.com/photo-1544717302-de2939b7ef71?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80)
    no-repeat center center;
  background-size: cover;
}

.footer {
  min-height: 80px;
  background: black;
  color: white;
  padding: 5rem 0;
  text-align: center;
}
